@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Garage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Services">Services</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="Users">Users</a>
                </li>


                @if (signInManager.IsSignedIn(User))                            //www.youtube.com/watch?v=YLAHIZmO2PI
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="logout" asp-area="" asp-controller="Account" asp-action="Logout">Logout  @User.Identity.Name</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" id="registerModal" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.ActionLink("_RegisterModalPartialView","Account")">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" id="loginModal" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.ActionLink("_LoginModalPartialView","Account")">Login</a>
                    </li>
                }

                <li class="nav-item">
                    <button class="btn btn-link text-dark" style="text-decoration:none"  asp-area=""  onclick="login2('@Url.Action("_LoginModalPartialView","Account",Context.Request.Scheme)', 'Login')">Login 2</button>
                </li>

                @*onclick="showPopup('@Url.Action("NewService", "Services", new { id = item.ServiceId }, Context.Request.Scheme)','Update Service')"*@
            </ul>
        </div>
    </div>
</nav>


