@model ServiceViewModel

<h3>All Services</h3>
<br />
<button onclick="showPopup('@Url.Action("NewService","Services",null,Context.Request.Scheme)','New Service')" class="btn btn-outline-primary">Add service</button>
<br />
<br />

<form>
    <table id="allServices" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Service Id</th>
                <th scope="col">Service Date</th>
                <th scope="col">Mileage</th>
                <th scope="col">Service Cost</th>
                <th scope="col">Notes</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ServiceEnumerable)
            {
                <tr>
                    <td>@item.ServiceId</td>
                    <td>@item.ServiceDate</td>
                    <td>@item.Mileage</td>
                    <td>@item.ServiceCost</td>
                    <td>@item.Notes</td>
                    <td><a onclick="showPopup('@Url.Action("NewService","Services",new {id = item.ServiceId } ,Context.Request.Scheme)','Update Service')" class="btn btn-outline-primary">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</form>
<br />


